<!doctype html>

<html lang="en">

<head>

    {% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/theme.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="{{ url_for('static',filename='js/script_local.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <title>
        {% block title %}{% endblock %}
    </title>

    {% endblock %}

</head>
<body>

{% block header %}


<nav class="navbar navbar-light navbar-expand-md" style="background-color: #003791;padding-top:30px;padding-bottom:30px;">

    <a href="/" class="navbar-brand">
        <img src="{{ url_for('static',filename='icons/ps5_logo.png') }}" height="28" alt="PS5 Logo">
    </a>


    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            {% if not logged %}
            <a href="{{ url_for('index') }}" class="nav-item nav-link" style="color:white;font-weight:bold;font-size:25px;padding-left:20px;">Index</a>
            <div class="dropdown">
            <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" style="color:white;font-weight:bold;font-size:25px;padding-left:20px;">Games<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('game',type='old') }}" class="dropdown-item">Classic</a></li>
                <li><a href="{{ url_for('game',type='new') }}" class="dropdown-item">New</a></li>
            </ul>
            </div>
            {% else %}
            <a href= " {{ url_for('index',name=name,logged=True) }} " class="nav-item nav-link active" style="color:white;font-weight:bold;font-size:25px;padding-left:20px;">Index</a>
            <div class="dropdown">
            <a href="{{ url_for('game',name=name,logged=True) }}" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" style="color:white;font-weight:bold;font-size:25px;padding-left:20px;">Games<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('game',type='old',name=name,logged=logged) }}" class="dropdown-item">Classic</a></li>
                <li><a href="{{ url_for('game',type='new',name=name,logged=logged) }}" class="dropdown-item">New</a></li>
            </ul>
            </div>
            {% endif %}
        </div>
        <div class="navbar-nav ml-auto">

            {% if not logged %}
            <div class="navbar-nav" style="padding-right:10px;"><a href="/signin" class="btn btn-outline-light">Sign in</a></div>
              <div class="navbar-nav"><a href="/signup" class="btn btn-outline-light">Sign up</a></div>
            {% else %}
            <div class="navbar-brand" style="padding-right:30px;"><a href="{{ url_for('cart',name=name) }}"><i class="material-icons">shopping_cart</i></a></div>
            <div class="navbar-brand" style="padding-right:10px;"><i class="material-icons">account_circle</i></div>
            <div class="nav-item nav-link" style="padding-right:50px;color:white;">{{ name }}</div>
              <div class="navbar-nav"><a href="{{ url_for('index') }}" class="btn btn-outline-light">Log Out</a></div>
            {% endif %}
        </div>

    </div>
</nav>
</nav>

{% endblock %}

<div id="content" style="padding-top:100px;padding-bottom:10px;padding-left:50px;padding-right:50px;" >{% block main %} {% endblock %}</div>

{% block footer %}
<footer class="footer" style="padding-top:50px;padding-bottom:50px;background-color: #003791;color: white;">
    <div class="container">
        <h3>PS5 Fan Website</h3>
        <p>Contact : query@playstation.com</p>
    </div>
</footer>
{% endblock %}

</body>
</html>
