{% extends "base.html" %}
{{ super() }}
{% block title %}
PS5: Buy games, shop online, get exclusive features.
{% endblock %}


{% block main %}
{% if type == 'old' %}
{% set head = "CLASSIC GAMES" %}
{% set body = "With PS5 backwards compatibility support, you can now play your favourite classic games from PS4,PS3 and PS2" %}
{% else %}
{% set head = "LATEST GAMES" %}
{% set body = "With PS5's beast hardware , you can play the latest games with stunning smooth visuals" %}
{% endif %}

<h1 style="padding-left:50px;padding-right:50px;padding-bottom:50px;font-weight: bold;font-size: 80px;">{{ head }}</h1>
<h1 style="padding-left:50px;padding-right:50px;padding-bottom:50px;">{{ body }}</h1>

<div class="card-deck" style="padding-left:70px;padding-right:70px;padding-bottom:200px;">
    {% for game in games %}
    {% if game.type == type %}
    {% if game.id not in cart %}

    <div class="row" style="padding-bottom:30px;">
<div class="card game"  id = "game">
    <div class="row no-gutters">
        <div class="col-md-5" style="background: #868e96;.hover:{border-color:green;}">
            {% set gameloc = ['games/',game.img_key]|join('') %}
            {% if logged %}
            <a href="{{ url_for('buy', name=name,acc_id=acc_id, game_id=game.id ) }}" data-toggle="tooltip" title="Add to cart" ><img src="{{ url_for( 'static' , filename=gameloc) }}" class="card-img-top h-100" alt=game.name></a>
            {% else %}
            <img src="{{ url_for( 'static' , filename=gameloc) }}" class="card-img-top h-100" alt=game.name>
            {% endif %}

        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h2 class="card-title" style="font-weight:bold;">{{ game.name }}</h2>
                <p class="card-text">{{ game.desc }}</p>
            </div>

            <div class="card-footer" style="position:absolute;bottom:0;width:100%;">
            {% if game.price == 0 %}

                <p>Price: Free
                {% if logged %}
                <a href="{{ url_for('buy', name=name,acc_id=acc_id, game_id=game.id ) }}" class="btn btn-success btn-sm pull-right"
                   style="color:white">Buy</a>
                {% endif %}
                </p>

            {% else %}
            <p>Price: ₹{{ game.price }}
            {% if logged %}
                <a href="{{ url_for('buy',name=name ,acc_id=acc_id, game_id=game.id ) }}" class="btn btn-success btn-sm pull-right"
                   style="color:white">Buy</a>
                {% endif %}
            </p>
            {% endif %}
            </div>

        </div>

    </div>
</div>
</div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}