{% extends "base.html" %}

{% block title %}
PS5: Buy games, shop online, get exclusive features.
{% endblock %}


{% block main %}
<h1 style="padding-left:50px;padding-right:50px;padding-bottom:20px">Games</h1>

<div class="card-deck" style="padding-left:70px;padding-right:70px;padding-bottom:200px;">
    <div class="card">
        <img src = "{{ url_for( 'static' , filename='game_callofdutywarzone.jpg') }}"  class="card-img-top" alt="Call Of Duty : Warzone">
        <div class="card-body">
            <h5 class="card-title">Call Of Duty : Warzone</h5>
            <p class="card-text">Warzone is a new, massive combat experience with up to 150 players from the world of Call of Duty: Modern Warfare and is free-to-play for everyone.</p>
        </div>
        <div class="card-footer">
            <p>Price: ₹249</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static',filename='game_fortnite.jpg') }}" class="card-img-top" alt="Fortnite">
        <div class="card-body">
            <h5 class="card-title">Fortnite</h5>
            <p class="card-text">Play Fortnite Battle Royale, the completely free 100-player PvP mode. One giant map, A Battle Bus, Last one standing wins.</p>
        </div>
        <div class="card-footer">
            <p>Price: ₹599</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static',filename='game_minecraft.jpg') }}" class="card-img-top" alt="Minecraft">
        <div class="card-body">
            <h5 class="card-title">Minecraft</h5>
            <p class="card-text">Explore infinite worlds and build everything from the simplest of homes to the grandest of castles. Play in creative mode with unlimited resources</p>
        </div>
        <div class="card-footer">
            <p>Price: ₹1999</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static',filename='game_pubg.jpg') }}" class="card-img-top" alt="PUBG">
        <div class="card-body">
            <h5 class="card-title">PUBG</h5>
            <p class="card-text">PUBG delivers the most intense free-to-play multiplayer action on mobile. Drop in, gear up, and compete. Survive epic 100-player classic battles, payload mode and fast-paced 4v4 team deathmatch and zombie modes.</p>
        </div>
        <div class="card-footer">
            <p>Price: ₹1499</p>
        </div>
    </div>
</div>
{% endblock %}