{% extends "base.html" %}

{% block title %}
PS5: Buy games, shop online, get exclusive features.
{% endblock %}


{% block main %}
<h1 style="padding-left:50px;padding-right:50px;padding-bottom:50px;font-weight: bold;font-size: 80px;">GAMES</h1>

<div class="card-deck" style="padding-left:70px;padding-right:70px;padding-bottom:200px;">
    {% for game in games %}
    <div class="row" style="padding-bottom:30px;">
<div class="card">
    <div class="row no-gutters">
        <div class="col-md-5" style="background: #868e96;">
            <img src="{{ url_for( 'static' , filename=game.img_key) }}" class="card-img-top h-100" alt=game.name>
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h2 class="card-title" style="font-weight:bold;">{{ game.name }}</h2>
                <p class="card-text">{{ game.desc }}</p>
            </div>

            <div class="card-footer" style="position:absolute;bottom:0;width:100%;">
            {% if game.price == 0 %}

                <p>Price: Free
                {% if logged %}
                <a href="{{ url_for('buy', acc_id=acc_id, game_id=game.id ) }}" class="btn btn-success btn-sm pull-right"
                   style="color:white">{{ acc_id }}</a>
                {% endif %}
                </p>

            {% else %}
            <p>Price: {{ game.price }}
            {% if logged %}
                <a href="{{ url_for('buy', acc_id=acc_id, game_id=game.id ) }}" class="btn btn-success btn-sm pull-right"
                   style="color:white">Buy</a>
                {% endif %}
            </p>
            {% endif %}
            </div>

        </div>

    </div>
</div>
</div>
    {% endfor %}
</div>
{% endblock %}