<!doctype html>

<html lang="en">

<head>
    {% block head %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="Scripts/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

{% block header %}
<nav class="navbar navbar-light navbar-expand-md" style="background-color: #003791;padding-top:30px;padding-bottom:30px;">

    <a href="/" class="navbar-brand">
        <img src="{{ url_for('static',filename='ps5_logo.png') }}" height="28" alt="PS5 Logo">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/index" class="nav-item nav-link active" style="color:white;font-weight:bold;font-size:25px;padding-left:20px;">Index</a>

        </div>
        <div class="navbar-nav ml-auto">
            {% if not logged %}
            <div class="navbar-nav" style="padding-right:10px;"><a href="/signin" class="btn btn-outline-light">Sign in</a></div>
              <div class="navbar-nav"><a href="/signup" class="btn btn-outline-light">Sign up</a></div>
            {% else %}
            <div class="navbar-nav" style="padding-right:10px;"><img src="{{ url_for('static',filename='account_thumb.png') }}" height="40" alt="Account"></div>
            <div class="nav-item nav-link active" style="padding-right:50px;color:white;">{{ name }}</div>
              <div class="navbar-nav"><a href="/index" class="btn btn-outline-light">Log Out</a></div>
            {% endif %}
        </div>

    </div>
</nav>
{% endblock %}

<div id="content" style="padding-top:50px;padding-bottom:10px;padding-left:50px;padding-right:50px;" >{% block main %} {% endblock %}</div>

{% block footer %}
<footer class="footer" style="padding-top:50px;padding-bottom:50px;background-color: #003791;color: white;">
      <div class="container">
        <h3>PS5 Official Website © 2020</h3>
        <p>Contact : query@playstation.com</p>
      </div>
    </footer>
{% endblock %}
</body>
</html>
